#container,
.embed #container {
  @include container;
}

.wufoo {
  margin-top: $gutter_horizontal !important;
  
  > ul {
    @include list-unstyled;
  }
  > ul > li {
    clear: both;
    width: auto;
    padding: $gutter_horizontal (100% - $container_width_xs)/2;
    margin-left: -(100% - $container_width_xs)/2;
    margin-right: -(100% - $container_width_xs)/2;
    
    @media (min-width: $breakpoint_sm) {
      position: relative;
      width: 70%;
      margin-left: -(100% - $container_width_sm)/2;
      margin-right: -(100% - $container_width_sm)/2;
    }
    
    @media (min-width: $breakpoint_md) {
      margin-left: -$gutter_vertical;
      margin-right: -$gutter_vertical;
      padding: $gutter_horizontal $gutter_vertical;
    }
  }
  span {
    display: block;
  }
  li > span {
    float: left;
    margin-top: $gutter_horizontal/2;
    margin-right: $gutter_vertical/2;
    
    input {
      width: auto;
      margin-right: $gutter_vertical/3;
    }
  }
  div > span {
    margin-top: $gutter_horizontal/2;
    &:first-child {
      margin-top: 0;
    }
  }
  span label {
    margin-top: 0;
  }
}

.complex {
  > div {
    @include grid-row;
  }
  .full,
  .left,
  .right {
    @include grid-col;
    margin-top: $gutter_horizontal;
  }
  .left,
  .right {
    width: 100% !important;
    @media (min-width: $breakpoint_sm) {
      width: 50% !important;
    }
  }
}