@mixin build-containers-important ($breakpoint_key, $breakpoint) {
  @each $container in $container_sizes {
    @include build-container-important (nth($container, 1), nth($container, 2), $breakpoint_key, $breakpoint);
  }
}

@mixin build-container-important ($container_key, $container_size, $breakpoint_key, $breakpoint) {
  @if ($container_key == $breakpoint_key) {
    @if ($breakpoint) {
      @media (min-width: $breakpoint) {
        width: $container_size !important;
      }
    } @else {
      width: $container_size !important;
    }
  }
}

#container,
.embed #container {
  @include container;
  
  @each $breakpoint in $breakpoint_sizes {
    @include build-containers-important (nth($breakpoint, 1), nth($breakpoint, 2));
  }
}

.wufoo {
  margin-top: $gutter_horizontal !important;
  
  > ul {
    @include list-unstyled;
  }
  > ul > li {
    clear: both;
    width: auto;
    padding: $gutter_horizontal (100% - $container_width_xs)/2;
    margin-left: -(100% - $container_width_xs)/2;
    margin-right: -(100% - $container_width_xs)/2;
    
    @media (min-width: $breakpoint_sm) {
      position: relative;
      width: 70%;
      margin-left: -(100% - $container_width_sm)/2;
      margin-right: -(100% - $container_width_sm)/2;
    }
    
    @media (min-width: $breakpoint_md) {
      margin-left: -$gutter_vertical;
      margin-right: -$gutter_vertical;
      padding: $gutter_horizontal $gutter_vertical;
    }
  }
  span {
    display: block;
  }
  li > span {
    float: left;
    margin-top: $gutter_horizontal/2;
    margin-right: $gutter_vertical/2;
    
    input {
      width: auto;
      margin-right: $gutter_vertical/3;
    }
  }
  div > span {
    margin-top: $gutter_horizontal/2;
    &:first-child {
      margin-top: 0;
    }
  }
  span label {
    margin-top: 0;
  }
}

.complex {
  > div {
    @include grid-row;
  }
  .full,
  .left,
  .right {
    @include grid-col;
    margin-top: $gutter_horizontal;
  }
  .left,
  .right {
    width: 100% !important;
    @media (min-width: $breakpoint_sm) {
      width: 50% !important;
    }
  }
}