input[class~=text] {
  @extend input[type=text];
}

input {
  display: inline-block !important;
}

select {
  display: block;
}

input.text, input.search, input.file, textarea.textarea, select.select {
  padding: $gutter_horizontal/2 $gutter_vertical; //$gutter_horizontal/4 $gutter_vertical/2;
}

input.text, input.search, textarea.textarea {
  border: $border_color $border_size $border_style !important;
  &:focus,
  &:active {
    border-color: $highlight_color;
  }
}

input[type=text], input[class~=text], input[type=email], input[type=password], input[type=url], input[type=tel], input[type=text], input[class~=text], input[type=number], input[type=search], input[type=time], input[type=week], input[type=month], input[type=date], input[type=datetime], input[type=datetime-local], textarea {
  font-size: 1em;
}
