form .instruct {
  position: static;
  margin: $gutter_horizontal 0 0;
  padding: ($gutter_horizontal/2) ($gutter_vertical/2) !important;
  width: 100%;
  border: $border_color $border_size $border_style !important;
  border-radius: $border_radius !important;
  background-color: $instruct_bg !important;
  
  @media (min-width: $breakpoint_sm) {
    position: absolute;
    top: 0;
    left: 103% !important;
    width: 43%;
    margin: 0;
  }
}