label {
  display: block;
}

input[type=checkbox],
input[type=radio] {
  + label {
    display: inline-block;
  }
}

label.desc, legend.desc {
  padding-bottom: 0;
  border: none;
  font-weight: bold;
  
  + * {
    margin-top: $gutter_horizontal/2;
  }
}

form span.req {
  color: $required_color !important;
}